{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <form class="form-inline" action="/menu/getJob/index/">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入职位名称:">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">搜索</button>
            </form>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" style="text-align: center">1</th>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}