{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataPresentation</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/index/">
                <i class="fa fa-home" aria-hidden="true">&nbsp;首页</i>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-gear"></i>&nbsp;功能管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/index/"><i class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;用户管理</i></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/department/index/"><i class="fa fa-building-o" aria-hidden="true">&nbsp;&nbsp;部门管理</i></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-gear"></i>&nbsp;系统管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/index/"><i class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;用户管理</i></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/department/index/"><i class="fa fa-building-o" aria-hidden="true">&nbsp;&nbsp;部门管理</i></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;用&nbsp;户
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/info/">个人信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/login/">用户注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% block content %}{% endblock %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $("#user_return").click(function(){
        window.location.href = "/user/index/";
    })
    $("#department_return").click(function(){
        window.location.href = "/department/index/";
    })
</script>
{% block script %}{% endblock %}
</body>
</html>