<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1 style="text-align:center">用户列表</h1>
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>密码</th>
                <th>手机号</th>
            </tr>
            </thead>
            <tbody>
            {% for item in info_lst %}
            <tr>
                <td>{{item['id']}}</td>
                <td>{{item['username']}}</td>
                <td>{{item['password']}}</td>
                <td>{{item['mobile']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>